@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    list-style:none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "poppins", sans-serif;
    text-decoration: none;
}

.container {
    width: 75%;
    margin: 0 auto;
}

header {
    background-color: #b05933;
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav .logo {
    color: #ffffff;
    font-weight: bold;
}

nav ul {
    display: flex;
    margin: 5px auto;
}

nav ul li {
    padding: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s ease-in;
}

nav ul li a:hover {
    border-bottom: 3px solid #fff;
    animation: alternate  0.5s ease-in-out;
}

.btn a {
    border: 1px solid #fff;
    padding: 5px 25px;
    color: #af522a;
    background-color: #fff;
    transition: all 0.5s ease;
}

.btn a:hover {
    border: 1px solid #ffffff;
    padding: 5px 25px;
    color: #ffffff;
    font-weight: bold;
    background: transparent;
    animation: alternate  0.5s ease-out;
}


/********** hero section ***************/
.hero-section {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(0, 6, 0, 0.863), rgb(4, 35, 45)), url("/assets/images/moving_.jpg");
    background-size: cover;
    background-position: center;
}

.hero-content h1 {
    padding: 10px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.hero-content p {
    padding: 10px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-bottom: 35px;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btn a {
    padding: 10px 20px;
    border: 1px solid #ffffff;
    color: #fff;
    transition: all 0.5s ease;
}
.hero-btn a:hover {
    padding: 10px 20px;
    border: 1px solid #af522a;
    color: #fff;
    background-color: #af522a;
    animation: alternate  0.5s ease-out;
}

/****** About *****/
.about-content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2em; 
}

.about-description  h1 {
    padding: 55px 0;
    font-size: 1.4em;
}

.about-images img {
    width: 100%;
    padding: 25px 0;
}

/********* Description Services *****/
.services-section {
    height: 60vh;
    background: linear-gradient(135deg, rgba(0, 6, 0, 0.863), rgb(4, 35, 45)), url("/assets/images/moving_.jpeg");
    background-size: cover;
    background-position: center;
    color:#fff;
}

.services-section .section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.section-content-title h1 {
    padding: 50px 1px;
    font-size: 1.4em;
    margin-bottom: 15px;
}

.border {
   border-bottom: 2px solid #af522a;
   width: 50%;
}

/***** feedback-title *****/
.feedback-title h1 {
    padding: 40px 0;
    font-size: 1.4em;
}

/***** contact-section *****/
.contact-section {
    height: 75vh;
    background: linear-gradient(135deg, rgba(0, 6, 0, 0.863), rgb(4, 35, 45)), url("/assets/images/moving_.jpeg");
    background-size: cover;
    background-position: center;
    color:#fff; 
}
.contact-title h1{
    padding: 40px 0px;
    font-size: 1.4em;
    margin-bottom: 15px;
}

.contact-content {
    margin-bottom: 10px;
}

.contact-description {
    padding: 5px 15px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

form {
    display:flex;
    flex-direction: column;
    gap: 1em;
}

form input[type="text"],[type="password"],[type="email"] {
    padding: 4px 6px;
}

form input[type="submit"] {
    padding: 4px 6px;
    margin-bottom: 15px;
}

form textarea {
    padding: 4px 6px;
}

/****** Footer *****/
footer {
    background-color: #b05933;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    text-align: center;
    color: #fff;
}



@media screen and (min-width: 350px) and (max-width: 500px) {
    /***** Media queries ******/
    .container {
        width: 65%;
        margin: auto;
    }
    
    header {
        height: 140px;
    }

    nav .logo {
        display: none;
    }

    nav .btn {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav ul li {
        padding: 3px 0;
    }
    
    /******* btn-menu *******/
    .btnToggle {
        height: 50px;
        width: 50px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
    
    .ligne {
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: #ffffff;
    }
    
    .btnToggle .ligne:nth-child(1) {
        top:25px
    }
    
    .btnToggle .ligne:nth-child(2) {
        top:40px
    }
    

    /***** Section hero ******/
     .hero-content h1 {
        font-size: 1.1em;
    }
    .hero-btn a {
        padding: 9px 25px;
    }

    /****** About *****/
    .about-content {
        display: flex;
        flex-direction: column;
    }

    /****** Description Services *****/
    .services-section {
        height: 140vh;
        background: linear-gradient(135deg, rgba(0, 6, 0, 0.863), rgb(4, 35, 45)), url("/assets/images/moving_.jpeg");
        background-size: cover;
        background-position: center;
        color:#fff;
    }

    .services-section .section-content {
        display: flex;
        flex-direction: column;
    }
     
    /***** feedback-title *****/
    .feedback-section {
        display: none;
    }

    /***** Contact Section *****/
    .contact-section {
        background: #fff;
        color: #af522a;
        margin-bottom: 50px;
    }
    .contact-description {
        padding: 5px 15px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        margin-bottom: 15px;
    }
    form input[type="submit"] {
        padding: 4px 6px;
        margin-bottom: 12px;
        background-color: #af522a;
        color: #fff;
        border: 1px solid #ff9595;
    }
}